.doctor-card {
  display: grid;
  grid-template-areas: "doctor-image   credentials . . location";
  margin-bottom: 4rem;
  margin-right: 7rem;
  margin-left: 7rem;
}

.doctor-card {
}

.doctor-image {
  grid-area: doctor-image;
  width: 7rem;
}

.credentials {
  grid-area: credentials;
  width: 12rem;
}

.location {
  grid-area: location;
  width: 12rem;
}

.logo {
  width: 10rem;
  display: block;
  margin: 0 auto;
}

.gradient {
  margin: 0 auto;
  display: block;
}

.showcase {
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 7rem;
  margin-left: 7rem;
  margin-bottom: 4rem;
}

.location p {
  white-space: pre-line;
}

.credentials h4 {
  white-space: pre-line;
}

.zip-input {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-right: 7rem;
  margin-left: 7rem;
}

.zip-input input {
  width: 85%;
}
